@using System.Configuration
@using SquishIt.Framework
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        @RenderSection("Description", required: false)
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        @RenderSection("AdditionalMetaTags", required: false)
        @RenderSection("Title", required: false)
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', '@ConfigurationManager.AppSettings["GOOGLE_ANALYTICS_ID"]', '@ConfigurationManager.AppSettings["DOMAIN"]');
            ga('send', 'pageview');
        </script>
        <script type="text/javascript">
            var apiUrl = apiUrl || '@ConfigurationManager.AppSettings["API_URL"]';
        </script>
        @Html.Raw(Bundle.Css().RenderCachedAssetTag("app-ui-css"))
        @Html.Raw(Bundle.JavaScript().RenderCachedAssetTag("jquery-with-mobile"))
    </head>
    <body>
        <div @RenderSection("PageId") data-role="page" data-theme="a">
            <div class="header ui-bar ui-bar-b">
                <div class="heading">
                    @RenderSection("Heading")
                </div>
                <div class="navigation">
                    <div>
                        <a href="/" data-role="button" data-icon="home" data-inline="true" data-iconpos="notext" class="greenish">Hem</a>                
                        <a href="/Favourites" data-role="button" data-icon="gear" data-inline="true" data-iconpos="notext" class="bluish">Inställningar</a>
                        @*<a href="#" data-role="button" data-icon="edit" data-inline="true" data-iconpos="notext" class="greyish">Kontakt</a>
                        <a href="#" data-role="button" data-icon="info" data-inline="true" data-iconpos="notext" class="greenish">Hjälp</a>*@                      
                    </div>
                </div>
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
            <div class="footer" data-role="footer">
                <a href="/" title="När går nästa tåg? - Pendlarens tågtidtabell">
                    <img src="/Content/images/commuter-icon-24x24.png" alt="När går nästa tåg? - Pendlarens tågtidtabell" />                        
                </a>
                <div class="about" style="float: right;">
                    <span class="nt-version"></span>
                    <span class="copyright"></span>
                </div>
            </div>
            @Html.Raw(Bundle.JavaScript().RenderCachedAssetTag("app"))
            @RenderSection("AdditionalScripts", required: false)
        </div>
    </body>
</html>
